.completeContainer {
  background-color: #016296d2;
  height: fit-content;
  color: aliceblue;
  padding: 0px 0px 20px 0px;
}

.complete-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 0px 20px;
}

.complete-features {
  width: 96%;
  height: fit-content;
  /* background-color: #1a72a0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.complete-layout {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
