.studentContainer {
  /* background-color: #6f6d6a; */
  background-color: #1697ddc4;
  /* background-color: #016396; */
  /* background-color: #f5f5f5; */
  height: fit-content;
  /* color: #e7e6e6; */
  color: whitesmoke;
  padding: 0px 0px 20px 0px;
}

.feat-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 0px 20px;
}

.features {
  width: 96%;
  height: 80vh;
  /* background-color: #9f9d9c; */
  /* background-color: #1a72a0; */
  background-color: #9eccfaea;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subFeature {
  cursor: pointer;
  width: 30vw;
  height: 88px;
  text-align: center;
  align-content: center;
  padding: 10px;
  /* background-color: #878583;
  color: rgb(34, 31, 31); */
  /* background-color: #005a87e0; */
  background-color: #1697dd83;
  /* color: #b2d0df; */
  color: aliceblue;
  font-size: 2rem;
  font-weight: 500;
  margin: 40px 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: #00131ed2;
}

.subFeature:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
  color: black;
}

.manage-s {
  position: absolute;
  top: 120px;
  right: 50px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  color: #e5eff4;
}

.manage-s-l {
  position: absolute;
  top: 165px;
  right: 52px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  padding: 2px 10px;
  background-color: rgba(0, 0, 0, 0.486);
  /* color: #e5eff4; */
}
